# Santander Customer Satisfaction

This Kaggle competition is about predicting customer satisfaction from a data set provided by Santander bank. Let's take a look!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
data = pd.read_csv('data/train.csv')

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

We have 371 fetaures, the first one being an ID to identify the observation and the last one, 'TARGET', is the one we want to predict: 1 for unsatisfied customer and 0 for a satisfied customer. Curiously enough, some feature names appear to be in spanish. For example, "saldo\_medio ..." can be translated to "mean\_balance\_..." so we can have some intuition about the meaning of the features.

In [ ]:
# There is an unique ID per observation. We might as well drop ID.
len(data.ID.unique())

In [3]:
data.drop('ID', axis=1, inplace=True)

In [ ]:
data.columns

As expected, the names of the features are in Spanish and contain information about balance, reimbursements, purchases, etc.

In [ ]:
def display_full(sth):
    pd.set_option('display.max_rows', len(sth))
    print(sth)
    pd.reset_option('display.max_rows')

In [ ]:
display_full(data.ix[0,:])

In [ ]:
idx = np.random.randint(0,len(data))
print(idx)
display_full(data.ix[idx,:])

In [ ]:
data['var36'].describe()

In [ ]:
data['var36'].value_counts()

In [ ]:
data['var36'].groupby(data['TARGET']).value_counts()

In [ ]:
data['var36'].groupby(data['TARGET']).value_counts(normalize=True)

In [ ]:
var = [name for name in data.columns if re.match('var',name)]

In [ ]:
data[var].describe()

In [ ]:
data.describe()

We can see some strange things, a lot of the variables have 0's in their percinteles. Let's take a closer look.

In [ ]:
temp = data.imp_ent_var16_ult1[data.imp_ent_var16_ult1 != 0]
len(temp)

It seems that it is a feature that not many observations have. Taking a guess here, imp\_ent\_.. could be "importe de entrada...", an initial deposit for some sort financial product offered by Santander that not that many people have.

An option that is worthwile exploring is to use these features as indicators of the client having that product. Maybe something like:
0 doesn't have the prodcut, 1 has product with small initial deposit, 2 same but with higher deposit, 3 etc.

Question: What proportion of observations have non-zero value?

Answer: It turns out that only about 5% of the observations.

In [ ]:
n_obs, n_features = data.shape

In [ ]:
len(temp)/n_obs

Let's do the same for the rest of the features.

In [4]:
def non_zero_proportion(column):
    return len(data[column][data[column] != 0])/data.shape[0]

In [5]:
non_zero = pd.DataFrame(columns = ['feature', 'pct'])

In [6]:
for name in data.columns:
    non_zero = non_zero.append({"feature": name, "pct": non_zero_proportion(name)*100}, ignore_index=True)

In [ ]:
non_zero
# Note that the value of pct ranges from 0% to 100%.

In [ ]:
non_zero.describe()

A mean of 9.08 indicates that most entries in the data set are 0's. In fact, a few of the variables only contain zeros! We should drop them.

In [7]:
deleted = []
for name in data.columns:
    if sum(data[name]) == 0:
        data.drop(name, axis = 1, inplace=True)
        deleted.append(name)

In [ ]:
data.shape

We have eliminated 34 features this way. We should also update the non_zero data frame.

In [8]:
non_zero = non_zero[non_zero.pct != 0]

In [ ]:
non_zero.describe()

In [ ]:
data.describe()

Some of the variables have a log normal distribution.

'var38' and to a lesser extend, 'saldo\_\*' variables

In [ ]:
plt.hist(data['var38'].apply(np.log),bins=100)
plt.title('var38')
plt.show()

In [9]:
# we take care of that nasty -999,999 value in var2
for i in data.index:
        if data.ix[i,'var3'] == 2:
            data.set_value(i,'var3', 0)
        else:
            data.set_value(i,'var3', 1)

## Some feature analysis

In [ ]:
def display_full(something):
    pd.set_option('display.max_rows', len(something))
    print(something)
    pd.reset_option('display.max_rows')

In [10]:
#var38 and the saldo variables have a log-normal distribution
data['var38'] = data['var38'].apply(np.log)

In [11]:
# New feature counting zero entries. It represents the customer activity.
original_features = data.columns[:-1]
data.insert(len(original_features),'SumZeros',(data[original_features] == 0).sum(axis=1))

# New feature describing the number of assets.
asset_features = [name for name in data.columns if 'ind' in name]
temp = data[asset_features].sum(axis=1)
data.insert(data.shape[1]-1, 'NumAssets', temp)

# 'Saldo' features analysis 
## We look at the distribution of saldo features ignoring 0's

In [12]:
#In the course of this analysis we found that 'saldo_var13_medio' is not properly formatted. 
#We include this on "process_data" to change it into 'saldo_mediio_var13' for consistency.
data.rename(columns={'saldo_var13_medio': 'saldo_medio_var13'}, inplace=True)

In [13]:
saldo_features = [name for name in data.columns if 'saldo' in name]

In [14]:
data_saldo = data[saldo_features]

In [ ]:
for name in data_saldo.columns:
    # ignore 0 values
    temp = data_saldo[name][data_saldo[name] != 0].reset_index(drop=True)
    temp = temp
    # bring values to the positive 
    temp = temp + 1 - temp.min()
    # apply log
    temp = temp.apply(np.log)
    # plot hist    
    plt.hist(temp)
    plt.title(name)
    plt.show()
    #print("Can't plot feature {}".format(name))

In [ ]:
camel = ['saldo_var6', 'saldo_medio_var13', 'saldo_var18', 
 'saldo_var29', 'saldo_var34', 'saldo_medio_var29_ult3']
spike = ['saldo_var30', 'saldo_var42', 'saldo_medio_var5_hace2',
         'saldo_medio_var5_hace3', 'saldo_medio_var5_ult1']

In [ ]:
for name in camel:
    print(data[name].groupby(data['TARGET']).value_counts())

In [ ]:
for name in spike:
    print(data[name].groupby(data['TARGET']).value_counts())

## Creating saldo features

We are going to create a few saldo features:
- mean\_saldo: average of all features of the type 'saldo_var{\d}'.
- mean\_saldo_medio: average of all features of the type 'saldo\_medio_var{\d}'.
- mean\_saldo\_medio\_{ult{\d}, hace{\d}}: Similar to above

In [ ]:
for name in saldo_features:
    if 'hace' in name or 'ult' in name:
        print(name)

As we can see, all the features containing 'hace' or 'ult' are of the 'medio' variety.

In [15]:
# features for 'saldo_medio'
mean_saldo_features = []
for name in saldo_features:
    if 'medio' not in name:
        print(name)
        mean_saldo_features.append(name)

saldo_var1
saldo_var5
saldo_var6
saldo_var8
saldo_var12
saldo_var13_corto
saldo_var13_largo
saldo_var13
saldo_var14
saldo_var17
saldo_var18
saldo_var20
saldo_var24
saldo_var26
saldo_var25
saldo_var29
saldo_var30
saldo_var31
saldo_var32
saldo_var33
saldo_var34
saldo_var37
saldo_var40
saldo_var42
saldo_var44

In [ ]:
len(mean_saldo_features)

In [16]:
temp = data[mean_saldo_features]
temp = np.nanmean(temp, axis=1)
data.insert(0, 'mean_saldo', temp)

In [ ]:
data.head()

In [17]:
mean_saldo_medio_features = []
for name in saldo_features:
    if 'medio' in name:
        if 'hace' not in name and 'ult' not in name:
            print(name)

saldo_medio_var13

In [ ]:
data['saldo_medio_var13'].groupby(data['TARGET']).value_counts()

We can probably ignore this feature.

In [18]:
mean_saldo_medio_hace1_features =[]
for name in saldo_features:
    if 'hace1' in name:
            print(name)

No 'hace1' features

In [19]:
mean_saldo_medio_hace2_features =[]
for name in saldo_features:
    if 'hace2' in name:
            print(name)
            mean_saldo_medio_hace2_features.append(name)

saldo_medio_var5_hace2
saldo_medio_var8_hace2
saldo_medio_var12_hace2
saldo_medio_var13_corto_hace2
saldo_medio_var13_largo_hace2
saldo_medio_var13_medio_hace2
saldo_medio_var17_hace2
saldo_medio_var29_hace2
saldo_medio_var33_hace2
saldo_medio_var44_hace2

In [20]:
temp = data[mean_saldo_medio_hace2_features]
temp = np.nanmean(temp, axis=1)
data.insert(0, 'mean_saldo_medio_hace2', temp)

In [ ]:
data.head()

In [21]:
mean_saldo_medio_hace3_features =[]
for name in saldo_features:
    if 'hace3' in name:
            print(name)
            mean_saldo_medio_hace3_features.append(name)

saldo_medio_var5_hace3
saldo_medio_var8_hace3
saldo_medio_var12_hace3
saldo_medio_var13_corto_hace3
saldo_medio_var13_largo_hace3
saldo_medio_var17_hace3
saldo_medio_var29_hace3
saldo_medio_var33_hace3
saldo_medio_var44_hace3

In [22]:
temp = data[mean_saldo_medio_hace3_features]
temp = np.nanmean(temp, axis=1)
data.insert(0, 'mean_saldo_medio_hace3', temp)

In [ ]:
data.head()

In [23]:
mean_saldo_medio_ult1_features =[]
for name in saldo_features:
    if 'ult1' in name:
            print(name)
            mean_saldo_medio_ult1_features.append(name)

saldo_medio_var5_ult1
saldo_medio_var8_ult1
saldo_medio_var12_ult1
saldo_medio_var13_corto_ult1
saldo_medio_var13_largo_ult1
saldo_medio_var13_medio_ult1
saldo_medio_var17_ult1
saldo_medio_var29_ult1
saldo_medio_var33_ult1
saldo_medio_var44_ult1

In [24]:
temp = data[mean_saldo_medio_ult1_features]
temp = np.nanmean(temp, axis=1)
data.insert(0, 'mean_saldo_medio_ult1', temp)

In [25]:
mean_saldo_medio_ult2_features =[]
for name in saldo_features:
    if 'ult2' in name:
            print(name)
            mean_saldo_medio_ult2_features.append(name)

No 'ult2' features

In [26]:
mean_saldo_medio_ult3_features =[]
for name in saldo_features:
    if 'ult3' in name:
            print(name)
            mean_saldo_medio_ult3_features.append(name)

saldo_medio_var5_ult3
saldo_medio_var8_ult3
saldo_medio_var12_ult3
saldo_medio_var13_corto_ult3
saldo_medio_var13_largo_ult3
saldo_medio_var13_medio_ult3
saldo_medio_var17_ult3
saldo_medio_var29_ult3
saldo_medio_var33_ult3
saldo_medio_var44_ult3

In [27]:
temp = data[mean_saldo_medio_ult3_features]
temp = np.nanmean(temp, axis=1)
data.insert(0, 'mean_saldo_medio_ult3', temp)

In [28]:
data.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,SumZeros,NumAssets,TARGET
0,0.000,0.000,0.000000,0.000,0.0000,0,23,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.576564,322,4,0
1,24.075,30.000,23.456667,30.000,36.0000,0,34,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.805234,296,9,0
2,0.207,0.300,0.020000,0.300,0.3600,0,23,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.117417,307,6,0
3,13.884,9.156,0.000000,18.609,9.8724,0,37,0.0,195.0,195.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.066763,276,13,0
4,9900.336,12600.297,0.033333,0.300,21600.4800,0,39,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.672584,286,11,0

In [29]:
new_features = ['mean_saldo', 'mean_saldo_medio_hace2', 'mean_saldo_medio_hace3', 
                'mean_saldo_medio_ult1', 'mean_saldo_medio_ult3']

In [30]:
data[new_features].head()

,mean_saldo,mean_saldo_medio_hace2,mean_saldo_medio_hace3,mean_saldo_medio_ult1,mean_saldo_medio_ult3
0,0.0000,0.000,0.000000,0.000,0.000
1,36.0000,30.000,23.456667,30.000,24.075
2,0.3600,0.300,0.020000,0.300,0.207
3,9.8724,18.609,0.000000,9.156,13.884
4,21600.4800,0.300,0.033333,12600.297,9900.336

In [31]:
data[new_features].describe()

,mean_saldo,mean_saldo_medio_hace2,mean_saldo_medio_hace3,mean_saldo_medio_ult1,mean_saldo_medio_ult3
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000
mean,1917.243557,1018.608283,252.494336,1293.413815,1034.383645
std,9397.918869,5403.666082,2475.431336,6251.549578,5085.250025
min,-289.728000,-28.767000,-0.893333,-340.134000,-184.452000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.360000,0.300000,0.116667,0.300000,0.300000
75%,36.000000,15.000000,1.786667,27.396750,20.853750
max,570232.315200,421009.236000,434544.256667,400018.857000,404039.307000

In [ ]:
for name in new_features:
    plt.hist(data[name], bins=100)
    plt.show()

In [ ]:
# Ploting ignoring 0's (which are basically NaN's)
for name in new_features:
    # ignore 0 values
    temp = data[name][data[name] != 0].reset_index(drop=True)
    temp = temp
    # bring values to the positive 
    temp = temp + 1 + abs(temp.min())
    # apply log
    temp = temp.apply(np.log)
    # plot hist    
    plt.hist(temp)
    plt.title(name)
    plt.show()
    #print("Can't plot feature {}".format(name))

Looks like a good idea to log-transfor these new features.

In [32]:
# Optional: log-transform new features
for name in new_features:
    # ignore 0 values
    temp = data[name][data[name] != 0]
    temp = temp
    # bring values to the positive 
    temp = temp + 1 - temp.min()
    # apply log
    temp = temp.apply(np.log)
    data[name] = temp

In [33]:
data.fillna(0, inplace=True)

In [34]:
data.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,SumZeros,NumAssets,TARGET
0,0.000000,0.000000,0.000000,0.000000,0.000000,0,23,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.576564,322,4,0
1,5.344853,5.916563,3.232779,4.090454,5.789128,0,34,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.805234,296,9,0
2,5.223912,5.833154,0.648847,3.403428,5.673626,0,23,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.117417,307,6,0
3,5.294992,5.858761,0.000000,3.879004,5.705782,0,37,0.0,195.0,195.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.066763,276,13,0
4,9.218883,9.468189,0.655791,3.403428,9.993840,0,39,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.672584,286,11,0

In [ ]:
data.describe()

In [35]:
data.to_csv('data/train_extended_saldo.csv', index=False)

In [ ]:
# drop the saldo features now
data.drop(saldo_features, axis = 1, inplace = True)

In [ ]:
data.to_csv('data/train_saldo.csv', index=False)

# Happy vs. Unhappy

Since there are comparatively small number of unhappy customers, it makes sense to try to find patterns in the dataset of unsatisfied customers.

In [ ]:
unhappy = data[data.TARGET == 1]
happy = data[data.TARGET == 0]

In [ ]:
unhappy = unhappy.drop('TARGET', axis=1)
happy = happy.drop('TARGET', axis=1)

We want to learn about the difference between happy and unhappy.

In [ ]:
unhappy.describe()

In [ ]:
happy.describe()

In [ ]:
def plot_happy_vs_unhappy(feature, n_bins = 20):
     #figure = plt.figure(figsize = [15,5])
    plt.title(feature)
    # Plot the feature for happy
    plt.hist(happy[feature], color='b', normed=True, histtype='step', bins = n_bins, label = 'happy')
    # Plot the feature for unhappy
    plt.hist(unhappy[feature], color='r', normed=True, histtype='step', bins = n_bins, label = 'unhappy')
    plt.legend()
    plt.show()

In [ ]:
def box_happy_vs_unhappy(feature):
    figure = plt.figure(figsize = [15,10])
    plt.title('happy vs. unhappy '+feature)
    plt.subplot(1,2,1)
    plt.boxplot(happy[feature])
    plt.subplot(1,2,2)
    plt.boxplot(unhappy[feature])
    plt.show()

In [ ]:
# Plot new_features Happy vs Unhappy
for name in new_features:
    plot_happy_vs_unhappy(name)

From the plots, we can expect these new features to have some ability to predict the target variable.

What we can get out of these plots is that unhappy persons tend to have lower mean balance, which makes sense.

In [ ]:
# Plot all the features Happy vs Unhappy
for name in happy.columns:
    plot_happy_vs_unhappy(name)

### Box plots

In [ ]:
for name in new_features:
    _ = sns.boxplot(x=data['TARGET'], y=data[name])
    plt.show()

These box plots confirm that these new features can have predicting power.

In [ ]:
for name in data.columns[:-1]:
    if len(data[name].unique()) > 10:
        _ = sns.boxplot(x=data['TARGET'], y=data[name][data[name] != 0])
        plt.show()

In [ ]:
unhappy['num_var5'].value_counts()

From looking at these histograms there are a couple of things we notice:

-A lot of the variables are hard-coded categorical with 1 and 0 options. (Of course, they are the ones starting with 'ind\_var{}' wich stands for the spanish 'indicador' which means indicator variable.

Some thoughts:

The real underlying variables are what it's named in the features as 'var{}', they probably indicate some financial product sold by Santander, the other features are are information about this underlyings. For example,

In [ ]:
len(data.var3.unique())

## Categorization of variables

In [ ]:
array = []
for name in data.columns:
    array.append((name,len(data[name].unique())))

In [ ]:
df = pd.DataFrame(array)
df

In [ ]:
cat = df[df[1] == 2]
cat

In [ ]:
for name in cat[0]:
    if 'saldo' in name:
        print(name)

In [ ]:
data['saldo_medio_var29_hace3'].value_counts()

In [ ]:
for name in data.columns:
    if 'var29' in name:
        print(data[name].value_counts())

In [ ]:
categorical = []
for name in data.columns:
    if 'ind_' in name:
        categorical.append(name)
categorical

In [ ]:
len(categorical)

In [ ]:
for name in categorical:
    if 'op' not in name:
        print('{} possible values for variable {}.'.format(len(data[name].unique()),name))

In [ ]:
data['num_var45_ult3'].value_counts()

In [ ]:
for name in data.columns:
    if 'var45' in name:
        print(name)

In [ ]:
# Turn these variables into honest categorical variables
for name in categorical:
    data[name] = data[name].astype('category')

In [ ]:
delta = []
for name in data.columns:
    if 'delta' in name:
        delta.append(name)
delta

Note that among 'ind' and 'num' variables, there are some with the special keyword 'delta'.
Nonetheless, they are also categorical.

In [ ]:
for name in delta:
    if 'num' in name:
        print(data[name].value_counts())